{% include "header.html" %}

  <!-- Page Header -->
  <header class="masthead" style="background-image: url({{ url_for('static', filename='img/about-bg.jpg')}})">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="page-heading">
            <h1>About Me</h1>
            <span class="subheading">This is what I do.</span>
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Main Content -->
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <p>Hi! I'm Liz. </p>
        <p>I started learning Python and web development through an online course on Udemy: <a href="https://www.udemy.com/course/100-days-of-code/">100 Days of Code - The Complete Python Pro Bootcamp taught by Angela Yu.</a> </p>
        <p>This website is the first I've ever created. You may not see much written here, but a lot of work went into getting this website created! </p>
        <p>If you're interested, you can check out <a href="https://github.com/lshock/flask-blog">my project on Github!</a> </p>
      </div>
    </div>
  </div>

  <hr>

  {% include "footer.html" %}